#page-room {
  header {
    border-bottom: 1px solid #e2e2e2;
    padding: 24px;

    .content {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-inline: auto;
      max-width: 1120px;

      > img {
        max-height: 45px;
      }

      > div {
        display: flex;
        gap: 16px;

        button {
          height: 40px;
        }
      }
    }
  }

  main {
    margin-inline: auto;
    max-width: 800px;

    .room-title {
      align-items: center;
      display: flex;
      margin: 32px 0 24px;

      h1 {
        color: #29292e;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
      }

      span {
        background: #e559f9;
        border-radius: 9999px;
        color: #fff;
        font-size: 14px;

        margin-left: 16px;
        padding: 8px 16px;
      }
    }

    .question-list {
      margin-top: 32px;
    }
  }

  form {
    textarea {
      background: #fefefe;
      border: 0;
      border-radius: 8px;
      box-shadow: 0 2px 12px rgba($color: #000000, $alpha: 0.04);

      min-height: 130px;
      padding: 16px;
      resize: vertical;
      width: 100%;
    }

    .form-footer {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 16px;

      .user-info {
        align-items: center;
        display: flex;

        img {
          border-radius: 50%;
          height: 32px;
          width: 32px;
        }

        span {
          color: #29292e;
          font-weight: 500;
          font-size: 14px;
          margin-left: 8px;
        }
      }

      > span {
        color: #737388;
        font-size: 14px;
        font-weight: 500;

        button {
          background: transparent;
          border: 0;
          color: #8354fd;
          cursor: pointer;
          font-size: 14px;
          font-weight: 500;
          text-decoration: underline;

          display: inline;
          height: auto;
          padding: 0;
        }
      }
    }
  }
}